<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.entity.Novice">

	<resultMap type="com.bluemobi.pro.entity.Novice" id="noviceResultMap">
		<id column="id" property="id"/>
		<result column="index" property="index"/>
		<result column="content" property="content"/>
		<result column="path" property="path"/>
	</resultMap>
	
	<!-- 查询所有新手指导  -->
	<select id="findAllNovice" resultMap="noviceResultMap">
		SELECT
			t.id,
			t.index,
			t.content,
			t.path
		FROM
			novice t
		ORDER BY
			t.index ASC
	</select>
</mapper> 