<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.entity.Signing">

	<resultMap id="signingResultMap" type="com.bluemobi.pro.entity.Signing">
		<id column="id" property="id" />
		<result column="create_date" property="createDate" />
		<result column="month" property="month" />
		<association property="user" column="user_id" select="com.bluemobi.pro.service.impl.UserService.findById" />
		<association property="doctor" column="doctor_id" select="com.bluemobi.pro.service.impl.DoctorService.findDoctorById2" />
	</resultMap>

	<!-- 根据用户ID查询签约医师 -->
	<select id="findByUserId" parameterType="java.lang.String" resultMap="signingResultMap">
		SELECT
		    t.id,
		    t.month,
		    t.create_date,
			t.user_id,
			t.doctor_id
		FROM
			signing t
		WHERE
		    t.user_id = #{userId}
		AND
			t.is_sign = 1
	</select>

	<!-- 新增签约记录 -->
	<insert id="insert" parameterType="com.bluemobi.pro.entity.Signing">
		INSERT INTO
			signing
		(
			`user_id`,
			`doctor_id`,
			`month`,
			`sn`,
			`is_sign`,
			`order_status`,
			`create_date`
		)
		values
		(
			#{user.userId},
			#{doctor.id},
			#{month},
			#{sn},
			#{isSign},
			#{orderStatus},
			#{createDate}

		)
	</insert>

	<!-- 清除签约记录  -->
	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM signing where id = #{id}
	</delete>
	
	<!-- 解除签约 里做逻辑删除，以免以后新增签约记录需求 -->
	<update id="unSign" parameterType="java.util.Map">
		UPDATE
			signing 
		SET
			is_sign = 0
		WHERE
			is_sign = 1
		AND
			doctor_id = #{doctorId}
		AND
			user_id = #{userId}
	</update>
	
	<!-- 根据SN查询签约记录 -->
	<select id="findBySn" parameterType="java.lang.String" resultMap="signingResultMap">
		SELECT
			a.*
		FROM
			signing a
		WHERE
			a.sn = #{sn}
	</select>
	
	<!-- 支付完成之后修改订单状态 -->
	<update id="payComplate" parameterType="java.lang.String">
		UPDATE
			sgining a
		SET
			a.order_status = 1,
		    a.is_sign = 1
		WHERE
			a.sn = #{sn}
	</update>
</mapper>